@{
    ViewBag.Title = "About";
}

<div class="unify">
    <div class="breadcrumbs-v3 img-v3 text-center">
        <div class="container">
            <h1>Unify is a clean and fully responsive</h1>
            <p>Discover more about us</p>
        </div><!--/end container-->
    </div>

    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>WE ARE UNIFY</h2>
            <p>
                Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
                Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 md-margin-bottom-50">
                <img alt="" src="@Url.Content("~/images/unify/4.png")" class="img-responsive">
            </div>
            <div class="col-md-6">
                <p>Phasellus feugiat elit quam, nec tincidunt leo imperdiet nec. Aliquam et orci orci. In finibus lorem eget sapien mollis finibus. Cras ultrices mollis justo.</p><br>
                <div class="row">
                    <ul class="col-xs-6 list-unstyled lists-v1">
                        <li><i class="fa fa-angle-right"></i>Curabitur porttitor sapien</li>
                        <li><i class="fa fa-angle-right"></i>Donec vitae quam neque</li>
                        <li><i class="fa fa-angle-right"></i>Cum sociis natoque</li>
                        <li><i class="fa fa-angle-right"></i>Aliquam et orci orci</li>
                    </ul>
                    <ul class="col-xs-6 list-unstyled lists-v1">
                        <li><i class="fa fa-angle-right"></i>Curabitur porttitor sapien</li>
                        <li><i class="fa fa-angle-right"></i>Donec vitae quam neque</li>
                        <li><i class="fa fa-angle-right"></i>Cum sociis natoque</li>
                        <li><i class="fa fa-angle-right"></i>Aliquam et orci orci</li>
                    </ul>
                </div>
            </div>
        </div><!--/end row-->
    </div>

    <div class="service-block-v5">
        <div class="container">
            <div class="row equal-height-columns">
                <div class="col-md-4 service-inner equal-height-column" style="height: 361px;">
                    <i class="icon-custom icon-md rounded-x icon-bg-u fa fa-diamond"></i>
                    <span>Creative Design</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
                <div class="col-md-4 service-inner equal-height-column service-border" style="height: 361px;">
                    <i class="icon-custom icon-md rounded-x icon-bg-u fa fa-rocket"></i>
                    <span>Development</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
                <div class="col-md-4 service-inner equal-height-column" style="height: 361px;">
                    <i class="icon-custom icon-md rounded-x icon-bg-u fa fa-support"></i>
                    <span>Support</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div><!--/end row-->
        </div><!--/end container-->
    </div>

    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>VIDEO INTRO</h2>
            <p>
                Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
                Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, 
                imperdiet fringilla
            </p>
        </div>
        <div class="owl-video owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
                <div class="owl-wrapper" style="width: 4560px; left: 0px; display: block;">
                    <div class="owl-item" style="width: 1140px;">
                        <div class="item">
                            <a href="//player.vimeo.com/video/72343553" class="fbox-modal fancybox.iframe">
                                <img width="800" alt="" src="@Url.Content("~/images/unify/img12.jpg")" class="img-responsive">
                                <img alt="" src="@Url.Content("~/images/unify/icons/video-play.png")" class="video-play">
                            </a>
                        </div>
                    </div><div class="owl-item" style="width: 1140px;">
                        <div class="item">
                            <a href="https://www.youtube.com/embed/C9thrGPyN-k?rel=0&amp;showinfo=0" class="fbox-modal fancybox.iframe">
                                <img width="800" alt="" src="@Url.Content("~/images/unify/img20.jpg")" class="img-responsive">
                                <img alt="" src="@Url.Content("~/images/unify/icons/video-play.png")" class="video-play">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="owl-controls clickable">
                <div class="owl-pagination">
                    <div class="owl-page active"><span class=""></span></div>
                    <div class="owl-page"><span class=""></span></div>
                </div>
            </div>
        </div><!--/end owl video-->
    </div>


    <div class="bg-color-light">
        <div class="container content-sm">
            <div class="headline-center margin-bottom-60">
                <h2>WHY WE ARE GOOD</h2>
                <p>
                    Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
                    Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla
                </p>
            </div>
            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <div class="pricing hover-effect">
                        <div class="pricing-head">
                            <h3>Begginer<span>Labore et dolore magnaras</span></h3>
                            <h4><i>$</i>5<i>.49</i> <span>Per Month</span></h4>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li><i class="fa fa-gift"></i> Free customisation</li>
                            <li><i class="fa fa-inbox"></i> 24 hour support<span></span></li>
                            <li><i class="fa fa-globe"></i> 10 GB Disckspace<span></span></li>
                            <li><i class="fa fa-cloud-upload">  </i> Cloud Storage<span></span></li>
                            <li><i class="fa fa-umbrella"></i> Online Protection<span></span></li>
                        </ul>
                        <div class="pricing-footer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
                            <a class="btn-u" href="#"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricing hover-effect">
                        <div class="pricing-head">
                            <h3>Pro Unify <span>Labore et dolore magnaras</span></h3>
                            <h4><i>$</i>8<i>.69</i><span>Per Month</span></h4>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li><i class="fa fa-gift"></i> Free customisation</li>
                            <li><i class="fa fa-inbox"></i> 24 hour support</li>
                            <li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                            <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                            <li><i class="fa fa-umbrella"></i> Online Protection</li>
                        </ul>
                        <div class="pricing-footer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
                            <a class="btn-u" href="#"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricing hover-effect">
                        <div class="pricing-head">
                            <h3>Premium <span>Labore et dolore magnaras </span></h3>
                            <h4><i>$</i>69<i>.99</i> <span>Per Month</span></h4>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li><i class="fa fa-gift"></i> Free customisation</li>
                            <li><i class="fa fa-inbox"></i> 24 hour support</li>
                            <li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                            <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                            <li><i class="fa fa-umbrella"></i>Online Protection</li>
                        </ul>
                        <div class="pricing-footer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
                            <a class="btn-u" href="#"><i class="fa fa-shopping-cart"></i> Purchase Now</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricing hover-effect">
                        <div class="pricing-head">
                            <h3>Elite<span>Labore et dolore magnaras</span></h3>
                            <h4><i>$</i>99<i>.00</i><span>Per Month</span></h4>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li><i class="fa fa-gift"></i> Free customisation</li>
                            <li><i class="fa fa-inbox"></i> 24 hour support</li>
                            <li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                            <li><i class="fa fa-cloud-upload"></i>Cloud Storage</li>
                            <li><i class="fa fa-umbrella"></i>Online Protection</li>
                        </ul>
                        <div class="pricing-footer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor.</p>
                            <a class="btn-u" href="#"><i class="fa fa-shopping-cart"></i> Purchase Now</a>

                        </div>
                    </div>
                </div>

            </div><!--/end row-->
        </div><!--/end container-->
    </div>




    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>MEET OUR TEAM</h2>
            <p>
                Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
                Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, 
                imperdiet fringilla
            </p>
        </div>
        <div class="row team-v4">
            <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                <img alt="" src="@Url.Content("~/images/unify/team/img15-md.jpg")" class="img-responsive">
                <span>Daniel Wearne</span>
                <small>- Technica Director -</small>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed a nulla non</p>
                <ul class="list-inline team-social-v4">
                    <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                <img alt="" src="@Url.Content("~/images/unify/team/img31-md.jpg")" class="img-responsive">
                <span>Sara Lisbon</span>
                <small>- UI Designer -</small>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed a nulla non</p>
                <ul class="list-inline team-social-v4">
                    <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 sm-margin-bottom-50">
                <img alt="" src="@Url.Content("~/images/unify/team/img18-md.jpg")" class="img-responsive">
                <span>John Doe</span>
                <small>- Backend Developer -</small>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed a nulla non</p>
                <ul class="list-inline team-social-v4">
                    <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <img alt="" src="@Url.Content("~/images/unify/team/img37-md.jpg")" class="img-responsive">
                <span>Alice Williams</span>
                <small>- Customer Support -</small>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed a nulla non</p>
                <ul class="list-inline team-social-v4">
                    <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!--/end row-->
    </div>

</div>

